.main-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
}
.note-list{
    margin-top: 35px;
    margin-bottom: 70px;
}
app-note-card {
 display: block;
 margin-bottom: 15px;
}
.floating-add-button{
    
    width: 250px;
}
.input{
    width: 250px;
}