<div class="main-container">
    <div class="search-bar-container">
          <div class="field">
            <p class="control has-icons-left">
              <!-- <i class="fas fa-search"></i> -->
              <input class="input" type="text" placeholder="Filter">             
            </p>
          </div>
          <button class="button floating-add-button" routerLink="new">Add Note</button>
    </div>
    <div class="note-list">
        <app-note-card *ngFor="let note of notes; index as i"
        [routerLink]="[i]"
         [title]="note.title" 
         [body]="note.body">
        </app-note-card>
       
    </div>
    
</div>
