* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  html, body {
    
    background: rgb(240, 243, 243);
    margin: 20px;
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
  }
  
  
  
  
  